@font-face {
    font-family: Hero_font;
    src: url('../../fonts/Hero.otf');
}


body {
  /* font-family: Hero_font, "Noto Emoji", sans-serif; */
  display: flex;
  flex-direction: column;
} 

/* Header */
.header_section {
    position: relative;
    background: #1F1F1F;
    border-bottom: 0.01rem solid #ffffff;
    padding: 1.6rem 2rem;
}

#service-logo {
    color: #64DB96;
    font-family: Hero_font, "Noto Emoji", sans-serif;
    float: left;
    text-align:left;
    font-size: 40px;
    margin-bottom: 10px;
    min-width: 300px;
}
#service-logo a {
    text-decoration: none;
    color: #64DB96
}

/* Handbook Section */
.handbook_section {
    background-color: #1F1F1F;
    color: #dcdcdc;
    display: flex;

}
.handbook_section img {
    display: block;
    width: 95%;
    max-width:50rem;
    margin: 1rem;
    box-shadow: .2rem .2rem .2rem #aaaaaa;
    border: .1rem solid #aaaaaa;
}

/* Body */

.handbook_body {
    flex: 1;
    overflow-y: auto;
    margin: 0 1rem;
    line-height: 150%;
}

.handbook_body a {
    color: #8ed7e2;
}

.handbook_body h1,
.handbook_body h2 {
    text-align: center;
    scroll-margin-top: 2rem;
}

.handbook_body h2 {
    margin-top: 5rem;
    padding: 2rem 0;
    box-shadow: 0 0 1rem wheat;
}


/* Menu */
.handbook_menu {
    height: 100vh;
    position: sticky;
    top: 0;
    padding-top: 1rem;
    border-right: 0.1rem solid #dcdcdc;
    user-select: none;
    -moz-user-select: none; /* Firefox */
}
.handbook_menu.hidden {
    margin: 0;
    min-width: 0;
    width: 0;
    visibility: hidden;
}

.hide-menu-btn {
    content: '◄';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F1F1F;
    position: absolute;
    right: -1rem;
    top: 20%;
    width: 1rem;
    height: 2.5rem;
    border-right: 0.1rem solid #dcdcdc;
    border-top: 0.1rem solid #dcdcdc;
    border-bottom: 0.1rem solid #dcdcdc;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    cursor: pointer;
    visibility: visible !important;
}

.menu_item1,
.menu_item2 {
    cursor: pointer;
    border-radius: 0.2rem;
}
.menu_item1 {
    padding: .7rem 1rem;
}

.menu_item2 {
    padding: 0.3rem 0 0.3rem 2rem;

}

.menu_item1:hover,
.menu_item2:hover {
    background-color: #585858;
}

.menu_item1.active,
.menu_item2.active {
    background-color: rgba(0, 0, 0, 0.192);
    box-shadow: inset 0 0 0.5rem;
}


/* Table */

table.handbook-table {
  background-color: #363636;
  border: 0.1rem solid #b9e6ed;
}
table.handbook-table td, table.handbook-table th {
  /* border: 0.1rem solid #ffffff; */
  padding: 0.5rem;
}

table.handbook-table tr:nth-child(even) {
  background: #444444;
}
table.handbook-table thead {
  background: #244f36;
}
table.handbook-table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  padding: 1rem 0.5rem;
}


/* Footer */
.row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer_section {
    background: #252525;
    color: #dcdcdc;
    overflow-x: hidden;
    padding-bottom: 30px;
    padding-top: 30px;
    flex: 0 0 auto;
}


.footer_title {
    font-size: 16px;
    margin-bottom: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #434343;
    color: #fff;
    margin-top: 40px;
}

.footer_section_entry {
    display: table-row;
}

.footer_section_icon {
    display: table-cell;
    vertical-align: top;
    margin-right: 10px;
    width: 24px;
}

.footer_section_text {
    display: table-cell;
    vertical-align: middle;
}
