__pycache__/
nppBackup/
package/transparency_service.egg-info/
package/transparency.egg-info/
package/modelcard.egg-info/
.env
temp.html
.idea/
db/
tests/db/
.mc_vers_ctrl
tests/log.txt
package/dist/
package/build/
package/aicard.egg-info
eval_module/evaluation.egg-info
.vscode/