<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_input.css') }}">
    <script src="{{ url_for('static', filename='js/buttonchangehtml.js') }}"></script>

</head>
<body>
    <div><button class="dynamic-btn" data-button-name="Back">Back</button></div>
    <b>Model Details</b>
    <textarea id="model_details" placeholder="Waiting for input...">{{ model_details }}</textarea>


    <div><button class="dynamic-btn" data-button-name="Upload PDF">Upload PDF</button></div>
    <button class="dynamic-btn" data-button-name="Submit from model details">Submit</button>
</body>
</html>