<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Card Editor</title>

    <!-- Link to external CSS file -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
     <script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
     <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>



<!-- Prism CSS (choose a theme or use default) -->
<!--<link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.css" rel="stylesheet" />-->

<!-- Prism JS -->
<!--<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>-->
<!-- Python language support -->
<!--<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-python.min.js"></script>-->


</head>
<body>
    <div class="resize-overlay" id="resizeOverlay"></div>

    <div id="leftPane">
        {% include left_src %}
    </div>

    <!--  <div class="divider" id="divider"></div> -->

    <div id="rightPane">
        {% include right_src %}
    </div>
</body>
</html>
