<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_input.css') }}">

    <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
</head>
<body>
    <div><button class="dynamic-btn" data-button-name="Back">Back</button></div>
    <b>Quantitative Analysis</b>
    <textarea id="quantitative_analysis" placeholder="Waiting for input...">{{ quantitative_analysis }}</textarea>
    <button class="dynamic-btn" data-button-name="Submit from quantitative analysis">Submit Form</button>
    <div><button data-button-name="Upload Metrics" id="uploadBtn">Upload Metrics</button></div>
    <input type="file" id="fileInput" style="display: none;">
    {{ metrics_table|safe }}


  <script>

    fileInput = document.getElementById("fileInput");
    uploadBtn = document.getElementById("uploadBtn");



    uploadBtn.addEventListener("click", () => {
      fileInput.click();
    });

    fileInput.addEventListener("change", () => {
      const file = fileInput.files[0];
      if (!file) return;

      const formData = new FormData();
      formData.append("file", file);
      formData.append("button", "Upload Metrics");
      formData.append("field", "Quantitative Analysis");

      fetch("/upload", {
        method: "POST",
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        changePaneContent(data.new_left_html, data.new_right_html);



                document.querySelectorAll("textarea").forEach(textarea => {
            const skipIds = ["airesponse", "textInput"];

            if (skipIds.includes(textarea.id)) {
                return; // skip this textarea
            }

            ClassicEditor
                .create(textarea)
                .then(editor => {
                    editorInstances[textarea.id] = editor;

                    // only show toolbar if focused
                    const toolbar = editor.ui.view.toolbar.element;
                    toolbar.style.display = "none";
                    editor.editing.view.document.on('focus', () => {toolbar.style.display = "";});
                    editor.editing.view.document.on('blur', () => {toolbar.style.display = "none";});
                })
                .catch(error => {
                    console.error("Editor initialization failed for textarea:", textarea, error);
                });
        });
    })
    .catch(error => console.error('Error:', error));
    });


  </script>
</body>
</html>
