PyGithub
openai
PyPDF2
pandas
matplotlib
markdown
shap
ipython
gdown
plotly
transformers
accelerate>=0.26.0
validators
datasets
torch
torchmetrics
eco2ai
# ydata-profiling  # not compatible with 3.13
GPUtil
kagglehub
html2text
markdown2
rich
flask
flasgger
bcrypt
python-dotenv
nltk
