html2text
markdown2
openai
validators
nltk
bs4
flask
flasgger
bcrypt
rich
requests
python-dotenv
pdfminer-six
weasyprint
openai-clip
torch
torchvision
transformers
sentencepiece
pypdf
PyPDF2
pymupdf
PyJWT
psutil
codecarbon
python-keycloak
jwcrypto
email-validator
anthropic
json-repair