<div class="modal__dialog">
    <div class="modal__content modal__content--active">
        <div class="modal-cards">
            <div class="modal-card">
                <label for="filter-select">Choose a filter:</label>
                <select id="filter-select">
                    <option value="" disabled selected hidden>--Please choose a filter--</option>
                </select>
                <div class='dashboard-wrapper'>
                    <div class='dashboard'>
                        <div class='filter-dashboard'>
                        </div>
                    </div>
                </div>
            </div>
            <button class="filter-done">Done</button>
        </div>
    </div>
</div>