<div class="filter__dialog">
    <div class="modal__content modal__content--active">
        <div class="modal-cards">
            <h1 class="title"  style="color: #64DB96;margin-top:0!important;">Add filter</h1>
            <div class="modal-card">
                <select id="filter-select">
                    <option value="" disabled selected hidden>-- Select a filter category --</option>
                </select>
                <div class='dashboard-wrapper'>
                    <div class='dashboard'>
                        <div class='filter-dashboard'>
                        </div>
                    </div>
                </div>
            </div>
            <button class="filter-done">Done</button>
        </div>
    </div>
</div>